@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --spacing: 4px;

  --color-primary-100: #0050FF;
  --color-primary-80: #0050FFCC;
  --color-primary-60: #0050FF99;
  --color-primary-40: #0050FF66;
  --color-primary-20: #0050FF33;
  --color-primary-10: #0050FF1A;
  --color-primary-5: #0050FF0D;

  --color-gray-100: #484554;
  --color-gray-80: #484554CC;
  --color-gray-60: #48455499;
  --color-gray-40: #48455466;
  --color-gray-20: #48455433;
  --color-gray-10: #4845541A;
  --color-gray-5: #4845540D;

  --color-white-100: #FFFFFF;
  --color-white-80: #FFFFFFCC;
  --color-white-60: #FFFFFF99;
  --color-white-40: #FFFFFF66;
  --color-white-20: #FFFFFF33;
  --color-white-10: #FFFFFF1A;
  --color-white-5: #FFFFFF0D;

  --animate-dialog-overlay: show 1s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-dialog-content: show 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-popover-content: scaleIn 0.2s ease-out;

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@layer utilities {
  .rdp-day_selected .rdp-day_button {
    @apply bg-primary-100 border-indigo-500;
  }

  .rdp-range_end .rdp-day_button {
    @apply bg-primary-40;
  }
}

.rdp-selected-1.rdp-range_start .rdp-day_button,
.rdp-selected-1.rdp-range_end .rdp-day_button {
  background: unset;
  color: var(--color-gray-100);
  border-radius: unset;
}

.rdp-selected-1.rdp-range_middle {
  background: var(--color-primary-40);
}

.rdp-selected-1.rdp-range_start.rdp-range_end {
  background: var(--color-primary-40);
}

.rdp-selected-1.rdp-range_start {
  background: var(--color-primary-40);
}

.rdp-selected-1.rdp-range_end:not(.rdp-selected-1.rdp-range_start.rdp-range_end) {
  display: block;
  width: 0;
  height: 0;
  border-bottom: 44px solid var(--color-primary-40);
  border-right: 44px solid transparent;
}

.input-box-shadow {
  box-shadow:
    11px 11px 34px 0px #0000000F,
    44px 43px 62px 0px #0000000D,
    100px 97px 83px 0px #00000008,
    177px 172px 99px 0px #00000003;
}